Source: kylin-user-guide
Section: utils
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: cmake,
               libqt5gui5,
#               debhelper-compat (= 12)
               debhelper,
               pkg-config,
               qttools5-dev-tools,
               qttools5-dev,
               libqt5webkit5-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ubuntukylin/kylin-user-guide
Vcs-Git: https://github.com/ubuntukylin/kylin-user-guide
Vcs-Browser: https://github.com/ubuntukylin/kylin-user-guide

Package: kylin-user-guide
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Smanual for UKUI desktop environment
  Kylin User Guide is a simple and lightweight guide written by Qt5/js/md,
  It has the characteristics of easy maintenance and simple interface
