[Desktop Entry]
Name=KYLIN USER GUIDE
Name[zh_CN]=kylin-user-guide.desktop
GenericName=kylin user guide
GenericName[zh_CN]=用户手册
Comment=kylin user guide
Comment[zh_CN]=银河麒麟用户手册
Keywords=guide;
Exec=/usr/bin/user-guide-daemon
Icon=kylin-user-guide
Terminal=false
Type=Application
NoDisplay=true
Categories=System;Utility;
StartupNotify=false
