#!/usr/bin/make -f
#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
arch ?= $(shell arch)
%:
	dh $@ 
override_dh_clean:
	dh_clean
	sed "s#@SG_VER@#$$(head -1 debian/changelog | awk '{print $$2}' | sed 's#(##;s#)##')#" debian/version.in > debian/version
override_dh_compress:
	dh_compress -Xlicense
override_dh_makeshlibs:
override_dh_builddeb:
	dh_builddeb -- -Zxz
override_dh_strip:
	dh_strip --dbg-package=kylin-user-guide-dbg

