*,body,div{margin:0;padding:0}

::-webkit-scrollbar
{
    width: 7px;
    display: none;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 2);
    background: rgb(199, 208, 202);
}

::-webkit-scrollbar-track
{
    border-radius: 5px;
    background:white;
}

#mainUI
{
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 50px;
    margin-top: 40px;
}

#mainUI h2
{
    margin-top: 12px;
    margin-bottom: 15px;
    font-family: Verdana;
}

div.hlist-div
{
    float:left;/*目录框的位置*/
    overflow-y:auto;/*目录框添加滚动条*/
    position: fixed;/*目录框相对浏览器进行定位*/
    width:18%;/*目录框的宽度*/
    height: 100%; /*目录框的高度*/
    top: 0;
    left: 0;
    margin: 0%;
    /*padding-left: 1%;*/
    background-color:rgb(231,231,231);
    color: #333;
}

div.system-app {
    width: 120px;
    height: 120px;
    /*padding: 0 10px;*/
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    background:rgba(244,244,244,1);
    cursor: pointer;
    border-radius:4px;
    margin-left: 21px;
    margin-bottom: 24px;
}

div.system-app img {
    width: 56px;
    height: 56px;
    margin-top: 21px;
    /*margin-bottom: 10px;*/
}

div.system-app span {
    font-size: 14px;
    font-weight: normal;
    color: black;
}

div.system-app:hover
{
    border-radius: 4px;
    background: #3D6BE5;
    color: white;
}

div.hlist-div a[class="name2"]
{
    font-size: 16px;
}

div.hlist-div a[class="name3"]
{
    font-size: 12px;
}

div.hlist-div dl
{
    margin-top: 4px;
    font-weight:400;
    color: #000000;
    line-height:32px;
}

div.hlist-div dt
{
    margin-left: 2px;
    margin-right: 4px;
}

div.hlist-div a
{
    font-family: sans-serif;
    /*text-indent: 20px;*/
}

div.hlist-div a:link
{
    display: block;
    width: 86%;
    height: 100%;
    background-color: rgb(231,231,231);
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding-left: 20px;
}

/*div.hlist-div a:hover
{
    background: rgb(61, 153, 229);
    color: white;
}*/

div.content-div
{
    font-size: 16px;
    color: #333;
    width:80%;
    height: 100%;
    float:right;
    /*padding-left: 2%;*/
    overflow-x:hidden;
    overflow-y:hidden;
    margin-left: 16px;
    margin-left: 1%;
    margin-right: 1%;
}

div.content-div h1
{
    text-align: left;
    font-family: sans-serif;
    font-size: 24px;
    margin-top: 62px;
    margin-bottom: 9px;
    line-height: 36px;
}

div.content-div h2
{
    line-height: 34px;
}

div.content-div h3
{
    line-height: 30px;
}

div.content-div h4
{
    line-height: 28px;
}

div.content-div li
{
    list-style:inside;
}

div.content-div img
{
    margin:3px;
    border:1px solid #bebebe;
    border-radius: 8px;
    object-fit: cover;
}

div.content-div p
{
    font-family: sans-serif;
    text-indent: 20px;
    line-height: 20px;
}

div.supportContent
{
    width: 320px;
    height: 60px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 20px;
    color: rgb(138, 138, 138);
}

div.supportEmail
{
    width: 250px;
    height: 60px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 20px;
    color: rgb(138, 138, 138);
}

a[target="_blank"]
{
    color: rgb(138, 138, 138);
    /*text-decoration: none;*/
}

div.content-div h5
{
    text-align: center;
}

div.paga_top
{
    text-align: right;
    margin-top: 24px;
    margin-right: 10px;
    margin-bottom: 50px;
}
/*
[img~=svg]
{
    width:100px;
    height: 100px;
}

*/
