*,body,div{margin:0;padding:0}

::-webkit-scrollbar
{
    width: 7px;
/*    display: none;*/
}

div.hlist-div::-webkit-scrollbar-track
{
    background:rgb(231,231,231);
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgb(128,128,128);
    background: rgb(211, 211, 211);
}

::-webkit-scrollbar-track
{
    border-radius: 5px;
    background:white;
}

#mainUI
{
    margin-left: 4.7%;
    margin-right: 4.7%;
    margin-bottom: 50px;
    margin-top: 40px;
}

#mainUI h2
{
    margin-top: 12px;
    margin-bottom: 15px;
    font-family: Verdana;
}

div.hlist-div
{
    float:left;/*目录框的位置*/
    overflow-y:auto;/*目录框添加滚动条*/
    position: fixed;/*目录框相对浏览器进行定位*/
    width:19%;/*目录框的宽度*/
    height: 100%; /*目录框的高度*/
    top: 0;
    left: 0;
    margin: 0%;
    /*padding-left: 1%;*/
    background-color:rgb(231,231,231);
    color: #333;
}

div.system-app {
    width: 120px;
    height: 120px;
    /*padding: 0 10px;*/
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    background:rgba(244,244,244,1);
    cursor: pointer;
    border-radius:4px;
    margin-left: 22px;
    margin-bottom: 24px;
    box-shadow:5px 5px 2px  rgb(231,231,231);
}

div.system-app img {
    width: 56px;
    height: 56px;
    margin-top: 21px;
    /*margin-bottom: 10px;*/
}

div.system-app span {
    font-size: 14px;
    font-weight: normal;
    color: black;
    font-family: Noto Sans CJK SC;
    line-height: 10px;   
}

div.system-app:hover
{
    transform: translateY(-10px);
}

div.system-app:active
{
    border-radius: 4px;
    background:  rgb(228, 243, 255);
    color: white;
}

div.container
{
    width: 100%;
    height: 31px;
    margin-bottom: 15px;
}

div.container button
{
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    position: relative;
    top: 2px;
    background-image: url('/usr/share/kylin-user-guide/data/arrows_bottom.png');
    background-color: #fff;
    background-size: 20px 20px;
}

div.wrap
{
    width: 140px;
    height: 31px;
    z-index: 2;
    background-color: #ffffff;
    position: relative;
}

div.line
{
    width: 95%;
    border: 1px solid rgb(230, 230, 230);;
    position: relative;
    left: 5%;
    z-index: -1;
    bottom: 16px;
}


div.hlist-div a[class="name2"]
{
    font-size: 16px;
}

div.hlist-div a[class="name3"]
{
    font-size: 12px;
}

div.hlist-div dl
{
    margin-top: 12px;
    font-weight:400;
    color: #000000;
    line-height:32px;
}

div.hlist-div dt
{
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 4px;
}

div.hlist-div a
{
    font-family: sans-serif;
    /*text-indent: 20px;*/
}

div.hlist-div a:link
{
    display: block;
    width: 95%;
    height: 100%;
    background-color: rgb(231,231,231);
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding-left: 10px;
}

/*div.hlist-div a:hover
{
    background: rgb(61, 153, 229);
    color: white;
}*/

div.content-div
{
    font-size: 14px;
    color: #333;
    width:75%;
    height: 100%;
    float:right;
    /*padding-left: 2%;*/
    overflow-x:hidden;
    overflow-y:hidden;
    margin-left: 16px;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.75;
}

div.content-div h1
{
    text-align: left;
    font-family: Noto Sans SC;
    font-size: 24px;
    color: rgba(38, 38, 38, 1);
    margin-top: 62px;
    margin-bottom: 9px;
    line-height: 36px;
}

div.content-div h2
{
    line-height: 34px;
    font-family: Noto Sans SC;
    font-size: 20px;
    color:  rgba(64, 64, 64, 1) ;
}

div.content-div h3
{
    line-height: 30px;
    font-family: Noto Sans SC;
    font-size: 18px;
    color: rgba(61, 107, 229, 1);
}

div.content-div h4
{
    line-height: 28px;
    font-family: Noto Sans SC;
    font-size: 16px;
    color: rgba(89, 89, 89, 1);
}

div.content-div h5
{
    line-height: 24px;
    font-family: Noto Sans SC;
    font-size: 14px;
    color:  rgba(89, 89, 89, 1) ;
}

div.content-div h6
{
    line-height: 20px;
    font-family: Noto Sans SC;
    font-size: 12px;
    color: rgba(89, 89, 89, 1);
}

div.content-div h5
{
    font-size: 10px;
}

div.content-div li
{
    list-style:inside;
}

div.content-div img
{
    margin:3px;
    border:1px solid #bebebe;
    border-radius: 8px;
    object-fit: cover;
}

div.content-div p
{
    font-family: Noto Sans CJK SC;
    text-indent: 32px;
    text-align: justify;
    /*text-justify:inter-ideograph;
    /*line-height: 20px;*/
}

p.date
{
    text-align: left;
    font-size: 12px;
    color: #737373;
}

div.supportContent
{
    width: 320px;
    height: 60px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 20px;
    color: rgb(138, 138, 138);
    margin-left: 20px;
    vertical-align: middle;
}

div.supportEmail
{
    width: 250px;
    height: 60px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 20px;
    color: rgb(138, 138, 138);
    vertical-align: middle;
}

a[target="_blank"]
{
    color: rgb(138, 138, 138);
    /*text-decoration: none;*/
}

/*div.content-div h6
{
    text-align: center;
}*/

div.paga_top
{
    /*position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;*/
    text-align: right;
    margin-top: 24px;
    margin-right: 10px;
    margin-bottom: 50px;
    vertical-align: middle;
    font-family:Noto Sans SC ;
    color: #6b8eeb;
    float: right;
}

div.paga_top img
{
    position: relative;
    top: 5px;
    width: 14px;
    height: 10px;
    object-fit: cover;
    border-radius: 0px;
    border: 0px;
}

hr
{
    border: 0;    
    background-color:  #E9E9E9 ;
    height: 1px;
}

table {
    width: 100%;
    max-width: 820px;
    border: 1px solid #dedede;
    margin: 15px auto;
    border-collapse: collapse;
    empty-cells: show;
}
table th{
    font-weight: bold;
    border: 1px solid #E9E9E9;
    background-color:  #F7F7F7 ;
    padding: 0 10px;
}
table td{
    height: 35px;
    border: 1px solid #E9E9E9;
    background-color:  #FCFCFC ;
    padding: 0 10px;
}
/*div#top
{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 5px;
    bottom: 20px;
    z-index: 999;
    border-radius: 0px;
    /*border: 1px black;*/
    /*background-color: #3D6BE5;
}*/

div#top img
{
    width: 90%;
    height: 90%;
}
/*
[img~=svg]
{
    width:100px;
    height: 100px;
}

*/
