[Desktop Entry]
Name=Kylin User Guide
Name[zh_CN]=用户手册
GenericName=kylin user guide
GenericName[zh_CN]=用户手册
Comment=kylin user guide
Comment[zh_CN]=麒麟用户手册
Keywords=guide;
Exec=/usr/bin/kylin-user-guide -A %u
Icon=kylin-user-guide
Terminal=false
Type=Application
NoDisplay=false
StartupNotify=false
Categories=UKUI;Qt;Documentation;Utility;
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;

